<h1>
  Mission success!
</h1>
<h3>Exercise 01 - Data Binding:</h3>
<ol>
  <li>Input field which updates username (two-way)</li>
  <li>Output the name below (string interpolation)</li>
  <li>Button only enable if string not empty</li>
  <li>Button click reset user to empty</li>
</ol>

<input type="text" [(ngModel)]="username" />
<p>{{username}}</p>
<button [disabled]="username === ''" (click)="resetUsername()">Reset string</button>

<h3>Exercise 02 - Directives:</h3>
<ol>
  <li>Add a button which says display details.</li>
  <li>Add a paragraph with any content of your choice.</li>
  <li>Toggle displaying that paragraph with the button of the first step.</li>
  <li>Log all button clicks in  an array and output that array below the paragraph.</li>
  <li>Starting on the 5th item, give items a blue background with ngStyle and white text color with ngClass.</li>
</ol>

<button (click)="onButtonEx2Click()">Toggle Details</button>
<p *ngIf="paragraphVisible">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat molestiae veritatis architecto deleniti debitis ipsam nulla, quaerat voluptates nobis et, autem reprehenderit dolorum. Quas, voluptates aliquid fuga facere consequatur magni.</p>

<ul>
  <li 
    *ngFor="let counter of ex2ArrayCounter; let i = index" 
    [ngClass]="{whiteText: i >= 4 }" 
    [ngStyle]="{backgroundColor: i >= 4 ? '#00f' : 'inherit'}"
  >{{counter}}</li>
</ul>